<!DOCTYPE HTML>
<html>
<head>
    <title>게시판</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<div class="row">
    <div class="col-md-6">
            <a href="/" role="button" class="btn btn-secondary">게시판1</a>
            <a href="/board2" role="button" class="btn btn-secondary">게시판2</a>
        {{#userName}}
            다음 아이디로 로그인 되었습니다.: <span id="user">{{userName}}</span>
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
        {{/userName}}
        {{^userName}}
            <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
            <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
            <a href="/signUp" class="btn btn-secondary active" role="button">회원가입</a>
        {{/userName}}
    </div>
</div>
<body>
<br>
