{{>layout/header}}

<h1>게시글 수정</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">글 번호</label>
                <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{post.title}}">
            </div>
            <div class="form-group">
                <label for="author"> 작성자 </label>
                <input type="text" class="form-control" id="author" value="{{post.author}}" readonly>
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <textarea class="form-control" id="content">{{post.content}}</textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
        <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
    </div>
</div>
<div class="card mb-2 mt-5">
    <div class="card-header bg-light">
        <i class="fa fa-comment fa"></i> 댓글
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                <button type="button" class="btn btn-dark mt-3">등록</button>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-12">
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th class = "author">작성자</th>
            <th class = "content">내용</th>
            <th class = "uptime">최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#reply}}
            <tr>
                <td>{{author}}</td>
                <td>{{content}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/reply}}
        </tbody>
    </table>
</div>



<main class="form-signin" style="max-width: 100%;">
    ...

    <div class="card mb-2 mt-5">
        <div class="card-header bg-light">
            <i class="fa fa-comment fa"></i> 댓글
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                    <button type="button" class="btn btn-dark mt-3">등록</button>
                </li>
            </ul>
        </div>
    </div>
    <br/>
</main>
{{>layout/footer}}